@font-face {
    font-family: 'reeyregular';
    src: url('../fonts/reey-regular-webfont.woff2') format('woff2'),
         url('../fonts/reey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Typography */

/* Body and Nav */

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    background-color: #ff3e3e;
    padding: 10px;
    font-size: x-large;
}